@page "/add-album"
@page "/add-album/{id:int}"
@inject NavigationManager _navigationManager
@inject IAlbumService _albumService

@if(_album is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="_album">
        <div class="row">
            <div class="col-12 mb-2">
                <span class="form-label">Title</span>
                <InputText class="form-control col-sm-5" @bind-Value="_album.Title" />
            </div>
            <div class="col-12 mb-2">
                <span class="form-label">Cover</span>
                <InputFile class="form-control col-sm-5" OnChange="LoadAlbumCover" />
            </div>
            <div class="col-12 mb-2">
                <span class="form-label">Description</span>
                <InputText class="form-control col-sm-5" @bind-Value="_album.Description" />
            </div>
            <div class="col-12 mb-2">
                <span class="form-label">Release Date</span>
                <InputDate class="form-control col-sm-5" @bind-Value="_album.ReleaseDate" />
            </div>
            <div class="col-12 mb-2">
                <span class="form-label">Author</span>
                <InputText class="form-control col-sm-5" @bind-Value="_album.Author" />
            </div>
        </div>

        <h3>Songs: @_album.Songs.Count <button class="btn btn-primary" @onclick="AddSong">+</button></h3>

        @foreach (var song in _album.Songs)
        {
            <SongBlock Song="song" OnSongRemove="RemoveSong" />
        }

        <div class="mb-2">
            <button type="submit" class="btn btn-success" @onclick="SaveAlbum">Save</button>
            <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
            @if(Id > 0)
            {
                <button type="button" class="btn btn-danger" @onclick="DeleteAlbum">Delete</button>
            }
        </div>
    </EditForm>
}


@code {

    [Parameter]
    public int Id { get; set; }

    private Album _album;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if(Id > 0)
            {
                _album = await _albumService.GetAlbum(Id);
            }
            else
            {
                _album = new() { ReleaseDate = DateTime.Now, Songs = new List<Song>() };
                _album.Songs.Add(new Song() { Number = _album.Songs.Count + 1 });
            }
        }
        catch (Exception)
        {

        }
    }

    public void AddSong()
    {
        _album.Songs.Add(new Song() { Number = _album.Songs.Max(x => x.Number) + 1 });
    }

    private void RemoveSong(Song song)
    {
        var songToRemove = _album.Songs.FirstOrDefault(x => x.Number == song.Number);
        if(songToRemove is not null)
            _album.Songs.Remove(songToRemove);
    }

    private async Task LoadAlbumCover(InputFileChangeEventArgs e)
    {
        var format = "image/png";
        var resizedFile = await e.File.RequestImageFileAsync(format, 200, 200);
        var buffer = new byte[resizedFile.Size];
        await resizedFile.OpenReadStream().ReadAsync(buffer);
        _album.CoverImage = buffer;
    }

    private async Task SaveAlbum()
    {
        var success = false;
        if (Id > 0)
            success = await _albumService.UpdateAlbum(_album);
        else
            success = await _albumService.InsertAlbum(_album);
        if(success)
            _navigationManager.NavigateTo("albums");
    }

    private async Task DeleteAlbum()
    {
        var success = await _albumService.DeleteAlbum(_album);
        if(success)
            _navigationManager.NavigateTo("albums");
    }

    public void Cancel() =>
        _navigationManager.NavigateTo("albums");

}
